<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>

<body>

    {% for persona in personas %}    

        <h1 style="color: red">El nombre del familiar es: {{persona.apellido}}, {{persona.nombre}}</h1>
        <h2>Su fecha de nacimiento es: {{persona.fecha_nacimiento}}</h2>
        <h2>Su edad actual es: {{persona.edad}} años</h2>
        
    {% endfor %}

</body>

</html>
