<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

</head>

<body> 

    <h1>El ultimo familiar ingresado a la base es:</h1>

    <h2>Nombre: {{ nuevo_registro.nombre }}</h2>
    <h2>Apellido: {{ nuevo_registro.apellido }}</h2>
    <h2>Fecha de nacimiento: {{ nuevo_registro.fecha_nacimiento }}</h2>
    <h2>Edad: {{ nuevo_registro.edad }} años</h2>

</body>

</html>
